rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /items/{imageId} {
      // Anyone can view uploaded item images
      allow read: if true;
      // Only authenticated users can upload item images
      // Further restriction can be added to validate the file size and type
      allow write: if request.auth != null;
    }
  }
}
